<nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top">
  <a class="navbar-brand" [routerLink]="['']" (click)="navbarCollapsed = true"><i class="fa fa-paw logo" aria-hidden="true"></i> Yo Adopto</a>
  <button class="navbar-toggler"(click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic"
    type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapseBasic" [collapse]="isCollapsed">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['']" (click)="isCollapsed = true">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/perdidos']" (click)="isCollapsed = true">Perdidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="isCollapsed = true">Encontrados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="isCollapsed = true">En Adopción</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!authService.loggedIn()" >
        <li class="nav-item">
            <a  class="nav-link" [routerLink]="['/login']" (click)="isCollapsed = true"> <i class="fa fa-sign-in"></i> Ingresar</a>
        </li>
    </ul>

		<ul class="navbar-nav ml-auto" *ngIf="authService.loggedIn()">
     <span dropdown>
        <a id="basic-link" dropdownToggle class="nav-link dropdown-toggle clickeable"  aria-controls="basic-link-dropdown">
            <i class="fa fa-user" aria-hidden="true"></i> {{ authService.decodedToken?.unique_name }} <span class="caret"></span>
        </a>

        <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-right"
          role="menu" aria-labelledby="basic-link">
          <li><a class="dropdown-item clickeable" aria-hidden="true" (click)="logout()"> <i class="fa fa-sign-out"></i> Salir</a></li>
        </ul>
      </span>
    </ul>
  </div>
</nav>
