<section id="page-overview">
  <div class="page__header">
    <h1 class="page__title display-4">Yo Adopto</h1>
    <p class="lead">La comunidad donde podrás publicar y ayudar a difundir animales perdidos, encontrados o adoptar un ángel de cuatro patas</p>
  </div>
</section>
<section id="key-features">
  <h1 class="section-title text-center">Forma Parte</h1>
  <div class="container">
  <div class="row feature__list">
    <div class="col-lg-4 key__feature">
      <div class="key-feature__image lost" [routerLink]="['/perdidos']">
        <i class="fa fa-paw"></i>
      </div>
      <h2 class="feature__title">Perdidos</h2>
      <p class="feature__description">¿Perdiste a tu mascota o querés colaborar difundiendo? En esta sección podrás publicar con datos precisos para ayudarte a encontrarla</p>

    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 key__feature">
      <div class="key-feature__image found">
        <i class="fa fa-paw"></i>
      </div>
      <h2 class="feature__title">Encontrados</h2>
      <p class="feature__description">Si encontraste una mascota y buscás a sus dueños, esta sección está dedicada a su difusión para lograr el reencuentro</p>

    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 key__feature">
      <div class="key-feature__image adoption">
        <i class="fa fa-paw"></i>
      </div>
      <h2 class="feature__title">Adopciones</h2>
      <p class="feature__description">Si buscás adoptar una mascota o dar en adopción, éste es tu lugar</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>
</section>
<footer class="main-footer">
    <nav>
        <ul class="main-footer__links">
            <li class="main-footer__link">
                <a href="#">Contacto</a>
            </li>
            <li class="main-footer__link">
                <a href="#">Términos de uso</a>
            </li>
            <li class="main-footer__link">
                <a target="blank" href="https://www.linkedin.com/in/fedearribas/">© {{ currentYear }} Federico Arribas</a>
            </li>
        </ul>
    </nav>
</footer>
