#page-overview {

  background: linear-gradient(to top, rgba(0,0,0,0.7)  , rgba(80, 68, 18, 0.3)),
      url("../../assets/images/welcome_background.jpg") left 60% bottom 50%/cover no-repeat border-box,
      #64ee68;
  width: 100%;
  height: 612px;
  position: relative;
  color: #eeeeee;
  text-align: center;
}

.page__header {
  width: 100%;
  bottom: 2vh;
  position: absolute;
}

#key-features {

  background: #64ee68;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #4CAF50, #aaecac);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #4CAF50, #aaecac); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 16px;
}

#key-features .section-title {
  color: #eeeeee;
  margin-top: 48px;
  font-weight: 100;
}

.feature__list {
  text-align: center;
  margin-top: 24px;
}

.key__feature {
  padding: 20px;
}

.feature__title {
  margin-top: 16px;
  color: #795548;
}

.key-feature__image {
  background: #be9282;
  width: 128px;
  height: 128px;
  border: 2px solid #795548;
  border-radius: 50%;
  margin: auto;
  padding: 20px;
  cursor: pointer;
  transition: box-shadow 0.5s;
}

.key-feature__image:hover {
  box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.5);
}

.key-feature__image:focus {
  outline: none;
}

.lost {
  background: #f44336;
  border-color: #f30202;
}

.found {
  background: #4CAF50;
  border-color: #3ea042;
}

.adoption {
  background: #795548;
  background-color: #66483d;
}

.key-feature__image > i {
  font-size: 4.8rem;
  color: #eeeeee;
}

.feature__description {
  color: #614940;
  font-size: 1rem;
}


.main-footer {
  background: rgb(59, 44, 15);
  padding: 16px;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}
